<!-- <button class="btn btn-primary" (click)='onBack()'>
  <i class="fa fa-chevron-left"></i>Back
</button> -->
<section>
  <div class="relative max-w-screen-xl px-4 py-8 mx-auto">
    <div class="grid items-start grid-cols-1 gap-8 md:grid-cols-2">
      <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
        <img [alt]="product.reference" [src]="product.image" class="object-cover w-full aspect-square rounded-xl" />
      </div>

      <div class="sticky top-0">

        <strong
          class="rounded-full border border-blue-600 bg-gray-100 px-3 py-0.5 text-xs font-medium tracking-wide text-blue-600">

          {{availability()}}
        </strong>

        <div class="flex justify-between mt-8">
          <div class="max-w-[35ch]">
            <h1 class="text-2xl font-bold">
              {{product.name}}
            </h1>

            <p class="mt-0.5 text-sm">{{product.reference}}</p>

            <div class="mt-2 -ml-0.5 flex">
              <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="w-5 h-5 text-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>
            </div>
          </div>

          <p class="text-lg font-bold">Best Price: {{getMinPrice()}} DT</p>
        </div>

        <details class="group relative mt-4 [&_summary::-webkit-details-marker]:hidden">
          <summary class="block">
            <div>
              <div class="prose max-w-none group-open:hidden">
                <p>
                  {{product.description}}
                </p>
              </div>
            </div>
          </summary>
        </details>

        <form class="mt-8">
          <fieldset>
            <legend class="mb-1 text-sm font-medium">Prices</legend>
            <div class="overflow-x-auto w-full">
              <table class="table w-full ">
                <!-- head -->
                <thead>
                  <tr>
                    <th>Website</th>
                    <th>Price (DT)</th>
                    <th>Visit website</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- row 1 -->
                  <tr>

                    <td>
                      <div class="flex items-center space-x-3">
                        <div class="avatar">
                          <div class="mask mask-squircle w-12 h-12">
                            <img src="../../../assets/tunisianet.png" alt="mytek logo" />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold">Tunisianet <strong
                              [ngClass]="product.availability_tunisianet === 'En stock' ?  'border-blue-600 text-blue-600':  'text-red-600 border-red-700'"
                              class="rounded-full border bg-gray-100 px-3 py-0.5 text-xs font-medium tracking-wide">

                              {{product.availability_tunisianet}}
                            </strong></div>
                          <div class="text-sm opacity-50">https://www.tunisianet.com.tn</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{product.price_tunisianet=== undefined ? 'Not available': product.price_tunisianet}}
                    </td>
                    <th>
                      <a class="btn btn-ghost gap-2" target="_blank" href="{{product.link_tunisianet}}">Link <svg
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                      </a>
                    </th>
                  </tr>
                  <!-- row 2 -->
                  <tr>

                    <td>
                      <div class="flex items-center space-x-3">
                        <div class="avatar">
                          <div class="mask mask-squircle w-12 h-12">
                            <img src="../../../assets/mytek.png" alt="mytek logo" />
                          </div>
                        </div>
                        <div>
                          <div *ngIf="product.availability_mytek" class="font-bold">Mytek <strong
                              [ngClass]="product.availability_mytek==='En stock' ?  'border-blue-600 text-blue-600':  'text-red-600 border-red-700'"
                              class="rounded-full border bg-gray-100 px-3 py-0.5 text-xs font-medium tracking-wide">

                              {{product.availability_mytek}}
                            </strong></div>
                          <div class="text-sm opacity-50">https://www.mytek.tn</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{product.price_mytek===undefined ? 'Not available': product.price_mytek}}
                    </td>
                    <th>
                      <a *ngIf="product.price_mytek !== undefined" class="btn btn-ghost gap-2" target="_blank"
                        href="{{product.link_mytek}}">Link <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg></a>
                    </th>
                  </tr>

                </tbody>

              </table>
            </div>
          </fieldset>


          <div class="flex mt-8">
            <button (click)="this.cartService.AddProductToCart(product._id, product.name, category)"
              [disabled]="this.cartService.userHasLiked(product._id)" class="btn btn-primary"> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
    <div class="collapse-title text-xl font-medium">
      Reviews
    </div>
    <div class="collapse-content">
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>
</section>
