<div class="stats stats-vertical shadow w-1/5 bg-slate-300">

  <div class="stat">

    <div class="stat-title">{{product.name | truncate: 10}}</div>
    <div class="avatar">
      <div class="mask mask-squircle w-16 h-16">
        <img src="../../../assets/mytek.png" alt="mytek logo" />
      </div>
    </div>
    <div class="stat-value">{{product.minPrice}}</div>
    <div class="stat-desc"></div>
  </div>

  <div class="stat">
    <div class="stat-title">New Users</div>
    <div class="stat-value">4,200</div>
    <div class="stat-desc">↗︎ 400 (22%)</div>
  </div>

  <div class="stat">
    <div class="stat-title">New Registers</div>
    <div class="stat-value">1,200</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>

</div>
