<div class="card w-full bg-base-100 shadow-xl">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <div class="rating">
      <input type="radio" name="rating-1" class="mask mask-star" />
      <input type="radio" name="rating-1" class="mask mask-star" checked />
      <input type="radio" name="rating-1" class="mask mask-star" />
      <input type="radio" name="rating-1" class="mask mask-star" />
      <input type="radio" name="rating-1" class="mask mask-star" />
    </div>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
