<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/image1.jpg">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">The Galaxy S23!</h2>
        <p class="leading-relaxed text-base">The Samsung Galaxy S23 series is almost out! A couple of new updates have
          arrived over the horizon, most importantly about the chipset and how it is going to be overclocked like a CPU
          in a gaming PC!.</p>
        <a class="btn btn-info mt-4 gap-2" href="https://www.youtube.com/watch?v=ntuforv4bVI">
          See Review
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/image2.jpg">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">The OnePlus 11 Pro! Is the Flagship KILLER
          back?!</h2>
        <p class="leading-relaxed text-base">OnePlus is back on the table with their new flagship, the OnePlus 11!
          Although the phone hasn't been released yet, the standard procedure of rumors that are most likely true are
          arriving one after the other. </p>
        <a class="btn btn-info mt-4 gap-2" href="https://www.youtube.com/watch?v=7laCyQZrUmc">
          See Review
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
